*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    // Esto define cuanto vale 1rem
    font-size: 62.5%; // 1rem == 10px/16px = 62.5%

    @include responsive(tab-port) {
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }

    @include responsive(tab-land) {
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
    }

    @include responsive(big-desktop) {
        font-size: 75%; // 1rem = 12px, 12/16 = 75%
    }
}

body {
    padding: 2.5rem;
    box-sizing: border-box;
}